div(id='isso-nav')
    ul
        li.nav-tab.active: a(id='comment-count')
            = i18n('no-comments')
        li.nav-tab.right-tab
            div(class='dropdown')
                a(id='login' href='#' class='dropdown-toggle')
                    = i18n('login')
                div(class='dropdown-content' id='dropdown-list')
                    a: Text 1
                    a: Text 2
                    a: Text 3
            
